In [2]:
import pandas as pd
import geopandas as gpd

In [3]:
geocoded = pd.read_csv('data/random_address_geocoded.csv')
flood_points = pd.read_csv('data/all_states_all_years_geocoded.csv')

In [4]:
geocoded_data = gpd.GeoDataFrame(geocoded, geometry = gpd.points_from_xy(geocoded.Longitude, geocoded.Latitude), crs = "EPSG:4326").to_crs('EPSG:3857')
flood_points_data = gpd.GeoDataFrame(flood_points, geometry = gpd.points_from_xy(flood_points.Longitude, flood_points.Latitude), crs = "EPSG:4326").to_crs('EPSG:3857')

In [5]:
geocoded_data.head()

,Address,Place,City,State,Phone,Zip,CountryCode,Country,Location,Latitude,Longitude,geometry
0,"['Street: 1st Floor, Jalan Tun Perak,', 'City...","1st Floor, Jalan Tun Perak,",Kuala Lumpur,Wilayah Persekutuan,03-2026-6510,50050,60,Malaysia,"1st Floor, Jalan Tun Perak,, Kuala Lumpur, Wil...",3.149232,101.696630,POINT (11320817.034 350747.532)
1,"['Street: A 116 Jln Serampang Taman Pelangi',...",A 116 Jln Serampang Taman Pelangi,Johor Bahru,Johor,07333-3296,80400,60,Malaysia,"A 116 Jln Serampang Taman Pelangi, Johor Bahru...",1.484403,103.779390,POINT (11552668.827 165261.508)
2,"['Street: 69, Jalan Ali,', 'City: Muar', 'S...","69, Jalan Ali,",Muar,Johor,6069533808,84000,60,Malaysia,"69, Jalan Ali,, Muar, Johor",2.045842,102.567866,POINT (11417802.581 227790.488)
3,"['Street: Jalan Kenari 17D, Bandar Puchong Ja...","Jalan Kenari 17D, Bandar Puchong Jaya,",Puchong,Selangor,+60 (0)3 8076-1325,47100,60,Malaysia,"Jalan Kenari 17D, Bandar Puchong Jaya,, Puchon...",3.047065,101.624011,POINT (11312733.123 339357.738)
4,"['Street: Jalan Pjs 1/50, Taman Petaling Utam...","Jalan Pjs 1/50, Taman Petaling Utama,",Petaling Jaya,Selangor,+60 (0)3 7770-5556,46000,60,Malaysia,"Jalan Pjs 1/50, Taman Petaling Utama,, Petalin...",3.079325,101.647865,POINT (11315388.617 342954.010)

In [6]:
flood_points_data.head()

,Year,Date_Temp,Date,State,Region,Place,Name,Line Check,Latitude,Longitude,geometry
0,2015,1-Mar,3/1/2015,Johor,Kota Tinggi,Kg. Lepau,"Kg. Lepau, Kota Tinggi, Johor",1,1.389603,104.149358,POINT (11593853.454 154705.110)
1,2015,22/9,22/9/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (11543965.001 166627.694)
2,2015,11-May,5/11/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (11543965.001 166627.694)
3,2015,11-Nov,11/11/2015,Johor,Tangkak,"Kg. Pulau Penarik, Sg. Mati","Kg. Pulau Penarik, Sg. Mati, Tangkak, Johor",1,2.137150,102.567195,POINT (11417727.953 237961.603)
4,2015,11-Nov,11/11/2015,Johor,Kluang,Kg. Paya Mas,"Kg. Paya Mas, Kluang, Johor",1,1.844126,103.301476,POINT (11499467.740 205322.621)

In [7]:
# Select a random location
random_location = geocoded_data.iloc[360]

# Measure distance from release to each station
distances = flood_points_data.geometry.distance(random_location.geometry)
distances

0        55705.379908
1         4940.598350
2         4940.598350
3       140167.522749
4        54028.194376
            ...
5379    436529.373139
5380    302934.974959
5381    301593.938118
5382    301593.938118
5383    478192.441253
Length: 5384, dtype: float64

In [8]:
print("Mean distance: {}".format(distances.mean()))
print("Nearest flood point: {}".format(distances.min()))

# find that nearest flood point
print(flood_points_data.iloc[distances.idxmin()][["Name", "Latitude", "Longitude"]])

Mean distance: 601780.2261244558
Nearest flood point: 1542.092028227808
Name         Jalan Gelang Patah (J4), JOHOR BAHRU, Johor
Latitude                                        1.526612
Longitude                                     103.654072
Name: 4092, dtype: object

In [21]:
# write a function to compute for the minimum distances from any flood point
random_location = geocoded_data.iloc[360]
distances = flood_points_data.geometry.distance(random_location.geometry)
distances.min()

for i in range(0, len(geocoded_data)):
    distances = flood_points_data.geometry.distance(geocoded_data.iloc[i].geometry)
    geocoded_data.loc[i, 'distance'] = distances.min()

In [22]:
geocoded_data.head()

,Address,Place,City,State,Phone,Zip,CountryCode,Country,Location,Latitude,Longitude,geometry,distance
0,"['Street: 1st Floor, Jalan Tun Perak,', 'City...","1st Floor, Jalan Tun Perak,",Kuala Lumpur,Wilayah Persekutuan,03-2026-6510,50050,60,Malaysia,"1st Floor, Jalan Tun Perak,, Kuala Lumpur, Wil...",3.149232,101.696630,POINT (11320817.034 350747.532),0.000000
1,"['Street: A 116 Jln Serampang Taman Pelangi',...",A 116 Jln Serampang Taman Pelangi,Johor Bahru,Johor,07333-3296,80400,60,Malaysia,"A 116 Jln Serampang Taman Pelangi, Johor Bahru...",1.484403,103.779390,POINT (11552668.827 165261.508),1267.271558
2,"['Street: 69, Jalan Ali,', 'City: Muar', 'S...","69, Jalan Ali,",Muar,Johor,6069533808,84000,60,Malaysia,"69, Jalan Ali,, Muar, Johor",2.045842,102.567866,POINT (11417802.581 227790.488),157.336971
3,"['Street: Jalan Kenari 17D, Bandar Puchong Ja...","Jalan Kenari 17D, Bandar Puchong Jaya,",Puchong,Selangor,+60 (0)3 8076-1325,47100,60,Malaysia,"Jalan Kenari 17D, Bandar Puchong Jaya,, Puchon...",3.047065,101.624011,POINT (11312733.123 339357.738),775.280533
4,"['Street: Jalan Pjs 1/50, Taman Petaling Utam...","Jalan Pjs 1/50, Taman Petaling Utama,",Petaling Jaya,Selangor,+60 (0)3 7770-5556,46000,60,Malaysia,"Jalan Pjs 1/50, Taman Petaling Utama,, Petalin...",3.079325,101.647865,POINT (11315388.617 342954.010),886.334664

In [34]:
data = pd.DataFrame()

data['distance'] = geocoded_data['distance']
data['city'] = geocoded_data['City']
data['state'] = geocoded_data['State']
data['zip'] = geocoded_data['Zip']
data.head(2)

      distance          city                state    zip
0     0.000000  Kuala Lumpur  Wilayah Persekutuan  50050
1  1267.271558   Johor Bahru                Johor  80400

In [35]:
data['flood_risk'] = data['distance'].apply(lambda x: 0 if x > 500 else 1)
data.head()

      distance           city                state    zip  flood_risk
0     0.000000   Kuala Lumpur  Wilayah Persekutuan  50050           1
1  1267.271558    Johor Bahru                Johor  80400           0
2   157.336971           Muar                Johor  84000           1
3   775.280533        Puchong             Selangor  47100           0
4   886.334664  Petaling Jaya             Selangor  46000           0

In [36]:
data.to_csv('data/predictor.csv', index=False)

# Below code is for checking

In [9]:
data = pd.read_csv('data/Predictor.csv')
data.head()

      distance           city                state    zip  flood_risk
0     0.000000   Kuala Lumpur  Wilayah Persekutuan  50050           1
1  1267.271558    Johor Bahru                Johor  80400           0
2   157.336971           Muar                Johor  84000           1
3   775.280533        Puchong             Selangor  47100           0
4   886.334664  Petaling Jaya             Selangor  46000           0

In [10]:
data['distance'].describe()

count     4179.000000
mean      1009.795837
std       1081.494849
min          0.000000
25%        413.624162
50%        826.623204
75%       1413.458157
max      37785.911384
Name: distance, dtype: float64